.about__us {
  background-image: url("../../assets/images/back.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: block;
  height: 959px;
}
.about__us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.features__about {
  padding: 2rem;
}
#golf {
  place-self: center;
  z-index: 1;
}
#golf img {
  width: 391px;
  height: 415px;
  padding: 10rem;
  position: static;
}
.on__top {
  z-index: 2;
  place-self: center;
  display: inline-flex;
  gap: 5rem;
  padding: 10rem;
  transform: translateY(-84%);
}
.left {
  margin-top: 1rem;
}
.left h2 {
  font-family: Cormorant Upright;
  color: rgba(220, 202, 135, 1);
  font-size: 4rem;
}
.left p {
  font-family: Open Sans;
  color: rgba(170, 170, 170, 1);
}
.center img {
  height: 703px;
  width: 84px;
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  #golf img {
    width: 250px;
    height: 250px;
    position: relative;
  }
  .about__us {
    margin-top: 5rem;
    background-image: none;
    transform: translateY(0%);
    width: 90vw;
    padding: 0rem 1rem;
  }

  .on__top {
    z-index: 2;
    place-self: left;
    place-content: left;
    display: inline-block;
    padding: 0rem;
    transform: translateY(-65%);
  }

  .left h2 {
    font-family: Cormorant Upright;
    color: rgba(220, 202, 135, 1);
    font-size: 2rem;
  }
  .center img {
    height: 500px;
    width: 4.2em;
    align-self: center;
    padding: 6rem 8rem;
  }
  .features__about {
    padding: 0rem;
  }
}
