#header {
  display: inline-flex;
  gap: 6rem;
}
#header img {
  width: 199px;
  height: 57px;
  padding: 1rem;
}
#log__area {
  font-family: Open Sans;
  padding: 2rem;
  gap: 50px;
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  #header {
    gap: 7rem;
  }
  #header img {
    height: 2.5rem;
    width: 8rem;
    padding: 1rem;
  }
  #log__area {
    display: none;
  }
}
