.navbar {
  padding: 1rem;
}
.navbar ul {
  display: flex;
  font-size: 16px;
  font-family: Open Sans;
  gap: 42px;
}

.navbar ul li {
  list-style: none;
}
.menu {
  display: none;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .menu {
    top: 0;
    left: 0;
    background-color: black;
    display: block;
    padding: 1.3rem;
  }
  .shortcut {
    margin-top: -1.6rem;
    background-color: black;
    color: white;
    width: 100vw;
    height: 120vh;
    position: fixed;
    left: 0;
    z-index: 9;
    padding-top: 2rem;
  }
  .shortcut ul {
    padding-top: 2rem;
    display: block;
  }
  .shortcut ul li {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    list-style: none;
  }
  #close {
    text-align: right;
    place-self: right;
    position: absolute;
    left: 86vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .menu {
    top: 0;
    left: 0;
    background-color: black;
    display: block;
    padding: 1.3rem;
  }
  .shortcut {
    margin-top: -1.6rem;
    background-color: black;
    color: white;
    width: 100vw;
    height: 120vh;
    position: fixed;
    left: 0;
    z-index: 9;
    padding-top: 2rem;
  }
  .shortcut ul {
    padding-top: 2rem;
    display: block;
  }
  .shortcut ul li {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    list-style: none;
  }
  #close {
    text-align: right;
    place-self: right;
    position: absolute;
    left: 86vw;
  }
}
