.newsletter h1 {
  font-family: Cormorant Upright;
  font-size: 40px;
  font-weight: 700;
  color: rgba(220, 202, 135, 1);
  margin-top: -8px;
  justify-content: center;
}
.newsletter h2 {
  font-family: Cormorant Upright;
  margin-bottom: -8px;
}
.newsletter img {
  width: 41px;
}
.newsletter p {
  font-weight: 400;
  font-family: Open Sans;
  letter-spacing: 4%;
  color: rgba(170, 170, 170, 1);
}
.below {
  display: flex;
  gap: 5rem;
  text-align: center;
  place-content: center;
  font-size: medium;
}
.contact__us h2 {
  font-family: Cormorant Upright;
}

.contact__us p {
  font-weight: 400;
  font-family: Open Sans;
  letter-spacing: 4%;
  color: rgba(170, 170, 170, 1);
}

.newsletter {
  text-align: center;
  background-color: black;
  border: 1px solid rgb(95, 95, 95);
  padding: 5rem;
  place-self: center;
  margin: 0 4rem;
}
.newsletter input {
  width: 30rem;
  height: 8px;
  font-size: larger;
  padding: 1rem;
  background-color: black;
  color: white;
  margin: 3px;
}
.social {
  width: 16rem;
}
.social h1 {
  font-family: Cormorant Upright;
  font-weight: 700;
  color: rgba(220, 202, 135, 1);
  margin-top: 1rem;
}
.social p {
  color: rgba(170, 170, 170, 1);
}
.social img {
  width: 41px;
}

.time h2 {
  font-family: Cormorant Upright;
}
.time p {
  line-height: normal;
  margin-top: -7px;
  color: rgba(170, 170, 170, 1);
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .newsletter h1 {
    font-size: 2rem;
  }
  .below {
    display: flex;
    gap: 2rem;
    text-align: center;
  }
  .newsletter {
    text-align: center;
    padding: 0rem;
    margin: 8px;
  }
  .newsletter input {
    width: 20rem;
    height: 2rem;
    font-size: medium;
    padding: 5px;
    margin: 5px;
  }
  .social h1 {
    font-size: medium;
  }
  footer {
    margin-top: 2rem;
    margin-bottom: 35rem;
  }
}
@media screen and (max-width: 600px) {
  .newsletter h1 {
    font-size: 2rem;
  }
  .below {
    display: block;
    text-align: center;
  }
  .newsletter {
    text-align: center;
    padding: 0rem;
    margin: 8px;
  }
  .newsletter input {
    width: 20rem;
    height: 2rem;
    font-size: medium;
    padding: 5px;
    margin: 5px;
  }
  .social {
    text-align: center;
    width: 100%;
  }
  .social h1 {
    font-size: 3rem;
    text-align: center;
  }
  .time p {
    line-height: normal;
    margin-top: 0px;
    color: rgba(170, 170, 170, 1);
  }
  footer {
    margin-top: 2rem;
    margin-bottom: 22rem;
  }
}
